@import url("./reset.css");
@import url("./responsive.css");
@import url("./animations.css");
@import url("./geometricShapes.css");

/* ------- Disable ------- */
.menu-desktop {
    display: none;
}
/* -------- Universal Tag ------ */
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    font-size: 26px;
    font-weight: 800;
    color: #191919;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

li {
    width: 100%;
    text-align: center;
    height: 60px;
}

section {
    height: 100vh;
    padding-top: 60px;
}

/* -------- Navbar -------- */
.icon-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background: linear-gradient(180deg, rgba(51, 8, 131, 0.815), rgba(16, 8, 131, 0.815));
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.322);
    -webkit-backdrop-filter: blur( 13.5px );
    backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.icon-menu img {
    height: 3rem;
    -webkit-user-select: none;
    user-select: none;
}

.icon-menu .menu {
    cursor: pointer;
}

.menu-mobile {
    display: flex;
    flex-direction: column;
}

.menu-mobile ul {
    list-style: none;
    align-items: center;
}

.options-menu li {
    background:  rgba(16, 8, 131, 0.815);
    box-shadow: 0 0px 15px 0 rgba(31, 38, 135, 0.322);
    -webkit-backdrop-filter: blur( 13.5px );
    backdrop-filter: blur( 13.5px );
    display: grid;
    grid-row: 1fr;
}

.options-menu a {
    color: #ffffff;
    padding: 10px;

}
/* ------ Home ------- */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    background: #af96e27c
}
#home .square-template-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.info-home {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size:17px;
    font-weight: 700;
    padding-top: 10px;
}
.info-home span {
    color: rgba(54, 45, 187, 0.877);
    background-image: linear-gradient(to bottom, rgb(131, 28, 235), rgb(98, 96, 224), rgb(23, 19, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.info-home p:nth-child(2) {
    font-weight: 600;
}
.info-home p {
    max-width: 90%;
    font-weight: 200;
}
.info-home hr{
    background-color: #362dbbe0;
    margin: 8px;
    padding: 1;
    width: 2rem;
    height: 3px;
}
.icons-social {
    padding-top: 20px;
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 2rem;
}
.icons-social img {
    height: 5rem;
}

/* -------- About ---------- */
#about {
    padding: 60px 10px 10px 10px;
    background-color: rgb(16, 2, 68);
    color: #ffffff;
}
.info-about {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 10%;
}

.info-about li {
    text-align: left;
    max-width: 90%;
}

.img-about {
    height: 120px;
    min-width: 120px;
}
.img-about img {
    height: 100%;
    width: 100%;
}
/* -------- Sub class------- */

.hidden {
    display: none;
    transition: .5s;
}
.selected {
    color: #ffffff !important;
    text-decoration: underline black 5px;
    transition: 1s;
}