@import url("./reset.css");
@import url("./responsive.css");
@import url("./animations.css");
@import url("./geometricShapes.css");

/* ------- Disable ------- */
.menu-desktop {
    display: none;
}
/* -------- Universal Tag ------ */
html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

section {
    min-height: 100vh;
    padding-top: 60px;
}

/* -------- Navbar -------- */
.icon-menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background: linear-gradient(180deg, rgba(51, 8, 131, 0.815), rgba(16, 8, 131, 0.815));
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.322);
    -webkit-backdrop-filter: blur( 13.5px );
    backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.icon-menu img {
    height: 3rem;
    -webkit-user-select: none;
    user-select: none;
}

.icon-menu .menu {
    cursor: pointer;
}

.menu-mobile {
    display: flex;
    flex-direction: column;
}

.menu-mobile ul {
    list-style: none;
    align-items: center;
}

.options-menu li {
    background:  rgba(16, 8, 131, 0.815);
    box-shadow: 0 0px 15px 0 rgba(31, 38, 135, 0.322);
    -webkit-backdrop-filter: blur( 13.5px );
    backdrop-filter: blur( 13.5px );
    display: grid;
    grid-row: 1fr;
    width: 100%;
    text-align: center;
    height: 60px;
}

.options-menu a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    font-size: 26px;
    font-weight: 800;
}
/* ------ Home ------- */

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    background: #af96e27c;
    
}
#home .square-template-home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.info-home {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size:17px;
    font-weight: 700;
    padding-top: 10px;
}
.info-home span.stack {
    color: rgba(54, 45, 187, 0.877);
    background-image: linear-gradient(to bottom, rgb(131, 28, 235), rgb(98, 96, 224), rgb(23, 19, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.arrow1::before {
    content: '<';
}
.arrow2::after {
    content: '>';
}
.info-home p:nth-child(2) {
    font-weight: 600;
}
.info-home p {
    max-width: 90%;
    font-weight: 300;
}
.info-home hr{
    background-color: #362dbbe0;
    margin: 8px;
    padding: 1;
    width: 2rem;
    height: 3px;
}
.icons-social {
    padding-top: 20px;
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 2rem;
}
.icons-social img {
    height: 5rem;
    transition: .5s;
}
.icons-social img:hover {
    transform: scale(1.1);
    transition: .5s;
}

/* -------- About ---------- */
#about {
    padding: 80px 20px 10px 20px;
    background-color: rgb(16, 2, 68);
    color: #ffffff;
}
.info-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    gap: 10%;
}
#about h2 {
    font-size: 40px;
}
#about p {
    font-weight: 300;
}
#about hr {
    width: 30px;
}
.info-about ul {
    padding-left: 1rem;

}
.info-about li {
    text-align: left;
    padding-top: 1rem;
    max-width: 90%;
    list-style: square;
    font-weight: 300;
}

.learning-about span {
    background-image: linear-gradient(to bottom, rgb(131, 28, 235), rgb(98, 96, 224), rgb(23, 19, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.img-about {
    height: 50%;
    width: 100%;
    text-align: center;
}
.img-about img {
    height: 100%;
    width: 50%;
}
.buttons-about {
    padding-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 5%;
}
.buttons-about a {
    font-size: 22px;
    transition: .5s;
}
/*------------- technologies -------- */
#technologies {
    background-color: #af96e2;
    padding: 80px 20px 10px 10px;
}
#technologies h2 {
    font-size: 40px;
}
.skills p {
    font-weight: 300;
    padding-top: 5px;
}
#technologies hr {
    width: 30px;
    border: 0;
    height: 2px;
    background-color: #000;
    margin-left: 2px;
    margin-bottom: 20px;
}
.card-list {
    margin: 2%;
}
.card-list ul{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

.card {
    text-align: center;
    margin: 5px;
    min-width: 110px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    background: #af96e2;
    box-shadow:  11px 11px 22px #9580c0, -11px -11px 22px #c8adff93;
    transition: .5s;
}
.card p {
    font-weight: bold;
}
.card:hover {
    box-shadow: 0px 0px 22px #c8adffde;
}

.card p {
    text-transform: uppercase;
    font-size: small;
}
/* ------- Projects -------- */
#projects {
    background-color: #af96e2;
    padding: 80px 20px 10px 10px;
}
#projects h2 {
    font-size: 40px;
}
.projects-list ul {
    list-style: none;
}
.projects-list  {
    font-weight: 300;
}
.project-card {
    margin: 20px;
    border-radius: 20px;
    padding: 15px;

    background: linear-gradient(315deg, #9e87cb, #bba1f2);
    box-shadow:  -6px -6px 27px #62547f, 6px 6px 27px #fcd8ff;
}
.project-card img {
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0px 0px; 
}
.project-description {
    padding-top: 5px;
}
.project-title {
    font-size: 24px;
    padding-bottom: 5px;
    font-weight: 400;
}

/* -------- Sub class------- */

.hidden {
    display: none;
    transition: .5s;
}
.selected {
    color: #ffffff !important;
    text-decoration: underline black 5px;
    transition: 1s;
}
.button {
    min-width: 7rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    background-image: linear-gradient(115deg, rgb(83, 28, 235), rgb(98, 96, 224), rgb(23, 19, 255));
    transition: .5s;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    -webkit-backdrop-filter: blur( 2.5px );
    backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.button:hover {
    box-shadow: 0px 0px 10px 1px rgb(83, 28, 235);
    transition: .5s;
    transform: scale(1.1);
}

