@media  screen and (min-width: 768px) {
    /* ------ header ------- */
    .icon-menu img {
        height: 2.2rem;
    }

    /* ------- home --------- */

    /* --------About --------- */
    .info-about {
        flex-direction: row-reverse;
        height: 100%;
        margin: 0 40px;
        align-items: center;
    }

    .img-about img {
        height: 100%;
        width: 100%;
    }
    /* ------- Tecnologies ------*/
    .card-list {
        margin: 15px 70px 0 70px;
    }

    .card-list ul {
        gap: 13%;
    }

    /* ------- Projects --------- */
    .projects-list ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .project-card {
        min-height: 400px;
        width: 40%;
    }

    
}

@media  screen and (min-width: 1024px) {
    /* ----- Home --------- */
    #home {
        padding: 100px 100px 0 100px;
    }
    /* ------- About -------- */
    #about {    
        padding: 100px 100px 20px 100px;
    }
    /* ------- Tecnologies ------*/
    #technologies {
        padding: 100px 100px 0 100px;
    }
    .card-list {
        margin: 15px 300px 0 300px;
    }
    .card-list ul {
        gap: 10%;
    }
    /* --------- Projects ------ */
    #projects {
        padding: 100px 100px 0 100px;
    }
}